/* .banner {
  background-image: url("./assets/Edited.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-width: 320px;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

.logo-img {
  /* width: 140px;
  height: 40px;
  margin: 0 auto !important;
  text-align: center;
}

.text {
  font-family: "Abril Fatface", serif;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  line-height: 1.2;
  margin: 10px 0 20px;
}

.bangla {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  margin-top: 20px;
}

.timerContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.timerNumber {
  margin: 0;
  color: #f2f2f2;
  font-size: 100px;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2px;
  border-radius: 20px;
  background-color: #ffffff28;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerLabel {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 1;
  margin-top: 10px;
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .text {
    font-size: 48px;
  }

  .bangla {
    font-size: 28px;
  }

  .timerNumber {
    font-size: 80px;
    width: 100px;
    height: 100px;
  }

  .timerLabel {
    font-size: 16px;
  }
}

@media only screen and (max-width: 688px) {
  .text {
    font-size: 36px;
  }

  .bangla {
    font-size: 20px;
  }

  .timerNumber {
    font-size: 50px;
    width: 80px;
    height: 80px;
  }

  .timerLabel {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .banner {
    padding: 10px;
  }

  .text {
    font-size: 28px;
  }

  .bangla {
    font-size: 18px;
  }

  .timerContainer {
    gap: 10px;
  }

  .timerNumber {
    font-size: 40px;
    width: 60px;
    height: 60px;
  }

  .timerLabel {
    font-size: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .banner {
    padding: 10px;
    flex-direction: column;
  }

  .text {
    font-size: 24px;
    line-height: 1.2;
  }

  .bangla {
    font-size: 16px;
    margin-top: 15px;
  }

  .timerContainer {
    gap: 8px;
    flex-wrap: wrap;
  }

  .timerNumber {
    font-size: 36px;
    width: 55px;
    height: 55px;
    border-radius: 8px;
  }

  .timerLabel {
    font-size: 10px;
    margin-top: 5px;
  }
} */
