@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



:root {
  font-family: 'Share Tech', sans-serif;
  color: #F2F2F2;
  font-weight: 400;

}



body {
  margin: 0;
  display: flex;
  place-items: center;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* .bg-hero {
  background-image: url("./assets/Edited.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  width: 100%;
} */